/* Google button */
.hC {
    background-color: #d23f31;
    height: 56px;
    position: relative;
    width: 56px;
}
/* Blue small button (option)*/
.hB {
    background-color: #3B5998;
    height: 40px;
    position: relative;
    width: 40px;
    margin-top: 9px;
    margin-right: 4px;   
}

.y {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    pointer-events: auto;
    position: relative;
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
    -webkit-transition: -webkit-transform 150ms cubic-bezier(.4,0,1,1);
    transition: transform 150ms cubic-bezier(.4,0,1,1);
}

.y, .Kb {
    border: none;
    border-radius: 50%;
    -webkit-user-drag: none;
}

.hC {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg);
}

.jB {
    color: #d23f31;
    font-weight: bold;
    padding-top: 8px;
    height: 56px;
}

.u5, .jB, .S, .ah {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    display: -webkit-flex;
    display: flex;
}
/**************************/

.fixed-botton {
    position: absolute;
    bottom: 15px;
    width: 95%;
    height: 60px;    
    display: block;
}