<h3>{{title}}</h3>

<div class="container">
    <div class="row form-inline">
        <div class="form-group">
            <label for="titulo" class="control-label">T&iacute;tulo</label>
            <input id="titulo" type="text" class="form-control input-xs" ng-model="edital.titulo">
        </div>
        <div class="form-group">
            <label for="UF" class="control-label">UF</label>
            <select id="UF" class="form-control input-xs" ng-model="edital.uf">
                <option ng-repeat="uf in ufs" value="{{uf.id}}">{{uf.sigla}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tipoEdital" class="control-label">Tipo</label>
            <select id="tipoEdital" class="form-control input-xs" ng-model="edital.tipoEdital">
                <option ng-repeat="tipoEdital in tipoEditalList" value="{{tipoEdital.id}}">{{tipoEdital.value}}</option>
            </select>
        </div>

        <button class="btn btn-primary pull-right" ng-click="buscarEditais()"><span class="fa fa-search"></span> Buscar</button>
    </div>

    <div class="row" style="margin-top: 15px">
        <div class="alert alert-warning" role="alert" ng-hide="waiting || editaisList.length > 0">Nenhum registro</div>
        <div class="alert alert-warning" role="alert" ng-show="waiting"><span class="fa fa-spinner fa-spin"></span> Aguarde</div>
        <div ng-show="!waiting && editaisList.length > 0" class="panel panel-default" ng-repeat="edital in editaisList">
            <div class="panel-body">
                <div class="col-md-8 col-xs-10">{{edital.titulo}} - {{edital.cargo}}, {{edital.uf}}</div>
                <div class="col-md-4 col-xs-2"><a class="pull-right" ng-click="selecionarEdital(edital)"><span class="fa fa-download"></span></a></div>
            </div>
        </div>
    </div>
</div>
