body {
  font-family: 'Open Sans', sans-serif;
}

span {
	font-family: 'Open Sans', sans-serif;
}

.well {
	margin-top: 1em;
}
.button-group {
  margin-top: 1em;
  position: botton;
}

.item-votacao {
  /* margin-top: 0em; */
  margin-bottom: 2em;
}

.botao-votacao {
	margin-top: 15em;
	margin-bottom: 3em;
}