$blue-50: #f2f7fd;
$blue-100: #e5eef9;
$blue-200: #c5dcf2;
$blue-300: #92bfe7;
$blue-400: #589ed8;
$blue-500: #3281c5;
$blue-600: #2366a6;
$blue-700: #1d5187;
$blue-800: #1c4670;
$blue-900: #1a3756;
$blue-950: #13273e;